html,
body{
    height: 100%;
}
body{
    max-width: 960px;
    color: #acacac;
    margin: auto;
    font-size: 12px;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
}
.section,
.article{
    grid-column:span 4;
}
header{
    position: relative;
    background: #f75959;
    border-radius: 5px;
    height: 120px;
    margin-bottom: 1rem;
}
.header-img{
    position: absolute;
    right: 0;
    height: 100%;

}
h1{
    position: absolute;
    top: 40%;
    z-index: 99;
    width: 100%;
    color: #ffffff;
    height: fit-content;
    text-align: center;
    font-size: 27px;
}
#user-input{
    width: auto;
    outline: none;
    border: 2px solid #acacac;
    border-radius: 3px;
    font-size: 16px;
}
#user-input:focus{
    border: 2px solid #f75959;
}
.request-btn,
.add-btn,
.clear-btn{
    font-size: 16px;
    color: #ffffff;
    background: #f75959;
    outline: none;
    border: 1px solid #acacac;
    margin-right: 3px;
    border-radius:3px;
}
.request-btn{
    padding: 0.5rem;
}
.add-btn,
.clear-btn{
    margin-top: 2px;
    padding: 3px;
    width: max-content;
}
.request-btn:hover,
.clear-btn:hover,
.add-btn:hover{
    background: #962020;
}
.display-card{
    display: inline-block;
    height: 150px;
    margin: 2px;

}
.display-gif{
    height: 100%;
}